@model IEnumerable<PersonVM>




<div class="row">
    <div class="col">ID</div>
    <div class="col">Name</div>
    <div class="col">City</div>
    <div class="col">Phone Number</div>
    <div class="col">Register date</div>
    <div class="col">&nbsp;</div>
</div>



@foreach (var item in Model)
{



    <div class="row">
        <div class="col">@item.Id</div>
        <div class="col">@item.Name</div>
        <div class="col">@item.City</div>
        <div class="col">@item.PhoneNumber</div>
        <div class="col">@item.Register</div>
    </div>
}
